/** @format */

.page-WlgRouterDemo {
  height: 100%;
  .ant-page-header {
    padding: 0;
  }
  .ant-spin {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
