.page-WlgFormDemo {
  .ant-form {
    padding: 20px;
    padding-top: 0;
    .ant-form-item-label {
      width: 120px;
      margin-right: 10px;
    }
    .ant-form-item-control {
      max-width: 800px;
    }
    .ant-radio-wrapper, .ant-checkbox-wrapper {
      min-width: 160px;
    }
    .ant-input {
      max-width: 400px;
    }
    .ant-btn {
      margin-right: 20px;
    }
    // 发布项值 垂直样式
    .vertical-form-item {
      .ant-form-item-control-input-content {
        .ant-form-item-label {
          flex: 0 0 100%;
          text-align: left;
        }
        .ant-form-item-control {
          padding: 10px;
          border: 1px solid #dddddd;
          border-radius: 4px;
        }
      }
    }
  }
}