@import './reset';
@import './variable.scss';

.flex {
  display: flex;
}
.flex-1 {
  flex: 1 1 auto;
}
.flex-y-center {
  display: flex;
  align-items: center;
}
.flex-x-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-x-y-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 文本
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
// 边距
@for $i from 0 through 10 {
  // padding
  .pd#{$i}0 {
    padding: (10px * $i);
  }
  .pt#{$i}0 {
    padding-top: (10px * $i);
  }
  .pb#{$i}0 {
    padding-bottom: (10px * $i);
  }
  .pl#{$i}0 {
    padding-left: (10px * $i);
  }
  .pr#{$i}0 {
    padding-right: (10px * $i);
  }
  // margin
  .m#{$i}0 {
    margin: (10px * $i);
  }
  .mt#{$i}0 {
    margin-top: (10px * $i);
  }
  .mb#{$i}0 {
    margin-bottom: (10px * $i);
  }
  .ml#{$i}0 {
    margin-left: (10px * $i);
  }
  .mr#{$i}0 {
    margin-right: (10px * $i);
  }
}
// 字体 fz10 - fz10
@for $i from 5 through 10 {
  .fz#{$i*2} {
    font-size: (2px * $i);
  }
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
// float
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.primary-color {
  color: $primary-color!important; // 全局主色
}
.link-color {
  color: $link-color; // 链接色
}
.success-color {
  color: $success-color; // 成功色
}
.warning-color {
  color: $warning-color; // 警告色
}
.error-color {
  color: $error-color; // 错误色
}
.font-size-base {
  font-size: $font-size-base; // 主字号
}
.heading-color {
  color: $heading-color; // 标题色
}
.text-color {
  color: $text-color; // 主文本色
}
.text-color-secondary {
  color: $text-color-secondary; // 次文本色
}
.border-radius-base {
  border-radius: $border-radius-base; // 组件/浮层圆角
}
.border-color-base {
  border-color: $border-color-base; // 边框色
}
.box-shadow-base {
  box-shadow: $box-shadow-base; // 浮层阴影
}
