/** @format */
.site-layout-background {
  background: #fff;
}

.root-layout {
  // 顶部
  .root-header {
    .logo {
      text-align: center;
      color: #fff;
      font-size: 24px;
      float: left;
      width: 120px;
      height: 31px;
      margin: 16px 24px 16px 0;
      background: rgba(255, 255, 255, 0.3);
    }
  }
  // 左侧
  .root-sider {
    overflow-y: auto;
    overflow-x: hidden;
    .sider-menus {
      height: 100%;
      border-right: 0;
      > .ant-menu-item:first-child {
        margin-top: 0;
      }
    }
  }
  // 面包屑部分
  .root-breadcrumb {
    background: #fff;
    padding: 13px 25px;
    .active {
      font-weight: 600;
    }
  }
  // 内容容器
  .root-content-container {
    margin: 20px;
    overflow: auto;
    border: 1px solid #eee;
    // 路由页面
    > div {
      padding: 20px;
      .ant-page-header {
        padding: 0;
        margin-bottom: 20px;
      }
    }
  }
}
